* {
    margin: 0;
    padding: 0;
}

    
body {
    font-family: 'League Spartan', sans-serif; 
    overflow-x: hidden;
    background-color: black;
    width: 100vw;
    height: fit-content;
    background-image: url(media/gradientbg.png);
    background-size: auto;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


header{
    
    width: 100%;
    min-height: 40px;
    background-color: #FF6A3C; 
}

header>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
}

a {
    color: #000;
    text-decoration: none;
}


*, h1 {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    border: none;
}

/* Inicio NavBar */


 #LogoImg{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}


.menu{  
      
    font-size: 42px;
    font-style: normal;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.seach-wrapper {
    height: 4rem;
    border-radius: 30px;
    width: 40vw;
    background-image: url(./img/Search.png);
    background-size: 2.5rem;
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
    margin-right: 1rem;
    transform: translateY(-3px);
}

.image-placaeholder {

    min-width: 35rem;
    width: 40rem;
    min-height: 50rem;
    height: 55rem;
    margin: 0 3rem 3rem 0;
    background-color: rgb(170, 170, 170);
    float: left;
}

#submit-button {
    height: 4rem;
    border-radius: 30px;
    font-size: 2.5rem;
    padding: 0.5rem 3rem 0 3rem;
    margin-right: 1rem;
}

#submitBtn:hover {
    background-color: #b6b6b6;
}

.nav-button {
    font-size: 42px;
    font-style: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}


#submitBtn:hover {
    background-color: #b6b6b6;
}

#loginBtn {
   
    font-size: 24px;
    font-weight: bold;
    color: #000;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    padding: 15px;
    display: inline-block;
    width: 200px !important;
}
  
#loginBtn:hover {
    background-color: #b6b6b6;
}

#registerBtn {
   
    font-size: 24px;
    font-weight: bold;
    color: #000;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    padding: 15px;
    display: inline-block;
    width: 200px !important;
} 

#registerBtn:hover {
    background-color: #b6b6b6;
} */

/* Fim Navbar*/

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  input[type=text]{
    position: relative;
    padding: 20px;
    width: 500px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 2px;
    border: none;
    border-radius: 50px;
}
/* Fim da NavBar */

/* Banner */

/* .banner {
    width: 100%;
    height: 900px;
    background-image: url(./img/books.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    justify-content: center;
    align-items: center;
} */



/* Inicio do Main */

.title-divider {

    width: 100vw;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-divider p {

color: white;
font-size: 10rem;
text-transform: uppercase;
font-style: Bold;
}

.select{
    width: 80vw;
    height:fit-content;
    font-size: 50px;
    display: flex;
    margin: 5rem 18rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#car-select{
    width: 250px;
    height: 50px;
    background-color: #ABABAB;
    border-radius: 10px;
    text-align: center;
}

.Submit{
    width: 250px;
    height: 50px;
    background-color: #FF6A3C;
    border-radius: 100px;
    text-align: center;
    cursor: pointer;
}

/*FOOTER*/

.container{

    max-width: 1170px;
    margin:auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}
.footer{
    width: 100%;
    background-color: #FF6A3C;
    padding: 70px 0;
}
.footer-col{
    
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    font-family: 'League Spartan', sans-serif; 
    color: #000;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
  content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: white;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #000;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
    .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
    .footer-col{
    width: 100%;
}
}
